# Telegram Bot
BOT_TOKEN=ВАШ_ТОКЕН_БОТА
CHAT_ID=-1002734456748

# Администраторы (без @)
OWNER=polllllllllllllllivi
DEPUTY=DanielDerecha
HEAD_ADMIN=Dasyero

# Настройки
TIMEZONE=Asia/Omsk
MAX_SCORE=16
LOW_SCORE_THRESHOLD=10
MAX_WARNINGS=3
MAX_SKIPS=3

# Google Sheets
GOOGLE_SHEET_URL=https://docs.google.com/spreadsheets/d/ВАШ_ID_ТАБЛИЦЫ/edit
